.modalOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}
.modal {
  background-color: #0e0303;
  background-color: rgb(29, 29, 30);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: zoomIn 1s both;
}
.modalTopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 700px) {
  .modalTopContainer {
    gap: 3rem;
  }
}
.closeBtn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: #44434399;
}
.connectbtnContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modalHeading {
  color: white;
}
.connectbtn {
  background-color: #1d0a05;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0.9rem;
  width: 100%;
}
.connectbtn:hover {
  background-color: #0fafdf;
  transition: all 0.3s;
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
